<% if collection.any? %>
  <p class="search_result">Результатов: <%= collection.total_count %>, страница <%= collection.current_page %></p>
  <%= content_tag :ol, :class => "subdivisions", :start => (collection.per_page * (collection.current_page - 1) + 1) do %>
    <% collection.each do | item | %>
      <li class="item">
        <%= render item %>
      </li>
    <% end %>
  <% end %>
  <%= paginate collection %>
<% else %>
  <p>Нет результатов поиска</p>
<% end %>
