<%= semantic_search_form_for :subdivision, :url => "#" do |form| %>
  <%= form.inputs do %>
    <%= form.input :keywords, :as => :string, :label => false %>
  <% end %>
  <%= form.buttons do %>
    <%= form.commit_button t('search'), :button_html => { :class => "button" } %>
  <% end %>
<% end %>
<%= content_tag :div, :class => "subdivisions" do %>
  <% @subdivisions.each do | subdivision | %>
    <div class="item">
      <%= link_to subdivision.title, "#" %>
    </div>
  <% end %>
<% end if @subdivisions.any? %>
