<%= semantic_search_form_for :main, :url => root_path  do |form| %>
  <%= form.inputs do %>
    <%= form.input :keywords, :as => :string, :label => false %>
  <% end %>
  <%= form.buttons do %>
    <%= form.commit_button t('search'), :button_html => { :class => "button" } %>
  <% end %>
<% end %>
<%= content_tag :div, :class => "subdivisions" do %>
  <% collection.each do | item | %>
    <div class="item">
      <%= render item %>
    </div>
  <% end %>
<% end if collection.any? %>
