<%= semantic_nested_form_for [:admin, @subdivision, @item] do |form| %>
  <%= form.inputs "Должность" do %>
    <%= form.input :title %>
  <% end %>

  <%= form.inputs "Адрес", :for => :building do |building_form| %>
    <%= building_form.input :postcode %>
    <%= building_form.input :region %>
    <%= building_form.input :district %>
    <%= building_form.input :locality %>
    <%= building_form.input :street %>
    <%= building_form.input :house %>
    <%= building_form.input :building %>
    <%= form.input :office %>
  <% end %>

  <%= form.inputs "Сотрудник", :for => [:person, @item.person || @item.build_person] do |person_form| %>
    <%= person_form.input :surname %>
    <%= person_form.input :name %>
    <%= person_form.input :patronymic %>
    <%= person_form.input :birthdate %>
  <% end %>

  <%= form.semantic_fields_for :phones do |phone_form| %>
    <%= phone_form.inputs do %>
      <%= phone_form.input :kind, :as => :select, :collection => Phone.values_for_select_tag(:kind) %>
      <%= phone_form.input :code %>
      <%= phone_form.input :number %>
      <li><%= phone_form.link_to_remove t('active_admin.delete_phone'), :class => 'button icon trash danger' %></li>
    <% end %>
  <% end %>

  <div class="phones_fieldset">
    <%= form.link_to_add t('active_admin.new_phone'), :phones, :class => 'button icon add' %>
  </div>

  <%= form.fields_for :emails do |email_form| %>
    <%= email_form.inputs do %>
      <%= email_form.input :address %>
      <li><%= email_form.link_to_remove t('active_admin.delete_email'), :class => 'button icon trash danger' %></li>
    <% end %>
  <% end %>

  <div class="emails_fieldset">
    <%= form.link_to_add t('active_admin.new_email'), :emails, :class => 'button icon add' %>
  </div>

  <%= form.buttons do %>
    <%= form.commit_button %>
    <li class='cancel'>
      <%= link_to t("active_admin.cancel"), [:admin, @subdivision, @item] %>
    </li>
  <% end %>

<% end %>
