<%= semantic_form_for [:admin, @subdivision, @item] do |form| %>
  <%= form.inputs "Должность" do %>
    <%= form.input :title %>
  <% end %>

  <%= form.inputs :for => :building do |building_form| %>
    <%= building_form.input :postcode %>
    <%= building_form.input :region %>
    <%= building_form.input :district %>
    <%= building_form.input :locality %>
    <%= building_form.input :street %>
    <%= building_form.input :house %>
    <%= building_form.input :building %>
    <%= form.input :office %>
  <% end %>

  <%= form.inputs "Сотрудник", :for => [:person, @item.person || @item.build_person] do |person_form| %>
    <%= person_form.input :surname %>
    <%= person_form.input :name %>
    <%= person_form.input :patronymic %>
    <%= person_form.input :birthdate %>
  <% end %>

  <%= form.buttons do %>
    <%= form.commit_button %>
    <li class='cancel'>
      <%= link_to t("active_admin.cancel"), [:admin, @subdivision, @item] %>
    </li>
  <% end %>

<% end %>
