<% if can?(:maange, @subdivision) %>
  <div class="actions">
    <%= link_to t('active_admin.sort'), sort_admin_subdivision_items_path(@subdivision), :class => 'sort_link off button icon loop' %>
    <%= link_to t('active_admin.new_item'), new_admin_subdivision_item_path(@subdivision), :class => 'button icon add' %>
  </div>
<% end %>

<% if items.empty? %>
  <h5>Нет сотрудников</h5>
<% else%>
  <ul class="sortable">
    <% items.each do |item|%>
      <li data-id='<%= item.id %>' class='item'>
        <div class="title">
          <span>хвать</span>
          <%= link_to item.title, admin_subdivision_item_path(@subdivision, item) %><%= ", #{item.person}" if item.person %>
        </div>
        <div class="details">
          <%= content_tag :p, "Дата рождения: #{l(item.person.birthdate)}" if !item.person.blank? && !item.person.birthdate.blank? %>
          <%= content_tag :p, item.phones.join(', ') if item.phones.any? %>
          <%= content_tag :p, item.emails.map{|email| mail_to(email)}.join(', ').html_safe if item.emails.any? %>
        </div>
      </li>
    <% end%>
  </ul>
<% end%>
