<%= semantic_nested_form_for @subdivision, :validate => true, :url => @subdivision.new_record? ? collection_path : resource_path do |form| %>
  <%= form.inputs :class => "inputs inline_fields" do %>
    <%= form.input :title, :as => :string %>
    <%= form.input :abbr %>
    <%= form.input :url, :as => :string %>
    <%= form.input :parent_id, :as => :select, :collection => Category.all.map { |c| ["-"*c.depth + " " + c.title, c.id] } if @subdivision.id %>
  <% end %>

  <%= form.inputs :class => "inputs inline_fields", :for => :address do | address_form | %>
    <%= address_form.input :postcode %>
    <%= address_form.input :region %>
    <%= address_form.input :district %>
    <%= address_form.input :locality %>
    <%= address_form.input :street %>
    <%= address_form.input :house %>
    <%= address_form.input :building %>
    <%= address_form.input :office %>
  <% end %>

  <%= form.semantic_fields_for :phones do |phone_form| %>
    <%= phone_form.inputs :class => "inputs inline_fields" do %>
      <%= phone_form.input :kind, :as => :select, :collection => Phone.values_for_select_tag(:kind), :input_html => { :class => 'phone_kind'} %>
      <%= phone_form.input :code, :input_html => { :class => "code" }, :wrapper_html => {:class => phone_form.object.kind_internal? ? 'hidden' : 'blank'} %>
      <%= phone_form.input :number %>
      <%= phone_form.input :additional_number %>
      <li class="destroy_action"><%= phone_form.link_to_remove t('active_admin.delete_phone'), :class => 'button icon trash danger' %></li>
    <% end %>
  <% end %>

  <div class="phones_fieldset">
    <%= form.link_to_add t('active_admin.new_phone'), :phones, :class => 'button icon add' %>
  </div>

  <%= form.fields_for :emails do |email_form| %>
    <%= email_form.inputs :class => "inputs inline_fields" do %>
      <%= email_form.input :address %>
      <li class="destroy_action"><%= email_form.link_to_remove t('active_admin.delete_email'), :class => 'button icon trash danger' %></li>
    <% end %>
  <% end %>

  <div class="emails_fieldset">
    <%= form.link_to_add t('active_admin.new_email'), :emails, :class => 'button icon add' %>
  </div>

  <%= form.buttons do %>
    <%= form.commit_button %>
    <li class='cancel'>
      <%= link_to t("active_admin.cancel"), @subdivision.new_record? ? collection_path : resource_path %>
    </li>
  <% end %>
<% end %>
