<div class="subdivision">
  <div class="info">
    <% %w[building phones emails].each do | item | %>
      <%= content_tag :div, :class => item do %>
        <h4><%= t("subdivision.#{item}")  %></h4>
        <ul>
          <%= render @subdivision.send(item) %>
        </ul>
      <% end unless @subdivision.send(item).blank? %>
    <% end %>

    <%= content_tag :div, :class => "url" do %>
      <h4><%= t("subdivision.url")  %></h4>
      <ul>
        <li><%= link_to @subdivision.url, @subdivision.url %></li>
      </ul>
    <% end if @subdivision.url %>

  </div>

  <div class="items">
    <h4>Сотрудники</h4>
    <%= render :partial => "admin/items/items", :locals => { :items => items } %>
  </div>

  <div class="subdivisions">
    <h4>Подразделения</h4>
    <%= render :partial => "admin/subdivisions/subdivisions", :locals => { :subdivisions => subdivisions } %>
  </div>
</div>
