<div class="subdivision">
  <%= show_for subdivision do | s | %>
    <%= s.association :address, :if_blank => "Не указан" %>
    <%= s.association :phones, :if_blank => "Не указаны" %>
    <%= s.association :emails, :if_blank => "Не указаны" do | email | %>
      <li><%= mail_to email %></li>
    <% end %>
    <%= s.attribute :url do %>
      <%= subdivision.url.blank? ? "Не указан" : link_to(subdivision.url, subdivision.url, :target => "_blank") %>
    <% end %>
  <% end %>

  <div class="items">
    <h3>Сотрудники</h3>
    <%= render :partial => "admin/items/items", :locals => { :items => items } %>
  </div>

  <div class="subdivisions">
    <h3>Подразделения</h3>
    <%= render :partial => "admin/subdivisions/subdivisions", :locals => { :subdivisions => subdivisions, :subdivision => @subdivision } %>
  </div>
</div>
