<%= content_tag :div, :class => "actions" do %>
  <%= link_to t("manage"), admin_subdivision_path(@subdivision), :class => "button icon edit" %>
<% end %>
<h1><%= resource.title %></h1>
<%= show_for @subdivision do | subdivision | %>
  <%= subdivision.association :building, :if_blank => "Не указан" %>
  <%= subdivision.attribute :office, :if_blank => "Не указан" %>
  <%= subdivision.association :phones, :if_blank => "Не указаны" %>
  <%= subdivision.association :emails, :if_blank => "Не указаны" do | email | %>
    <li><%= mail_to email %></li>
  <% end %>
  <%= subdivision.attribute :url do %>
    <%= @subdivision.url.blank? ? "Не указан" : link_to(@subdivision.url, @subdivision.url, :target => "_blank") %>
  <% end %>
<% end %>
