<%= @user.name %>
<%= @user.email %>

<%= content_tag :ul do %>
  <% @user.permissions.each do |permission| %>
    <li>
      <%= permission.context %>
      <%= permission.human_role %>
      <%= link_to t('permsissions.delete'), manage_permissions_permission_path(permission), :method => :delete, :confirm => t('Are you sure?') if can?(:manage, permission) %>
    </li>
  <% end %>
<% end if @user.permissions.exists? %>

<%= link_to t('permissions.new'), new_manage_permissions_user_permission_path(@user) %>
