<%= semantic_form_for @admin_user, :url => @admin_user.new_record? ? admin_admin_users_path : admin_admin_user_path(@admin_user) do |form| %>
  <%= form.inputs do %>
    <%= form.input :name %>
    <%= form.input :email %>
    <%= form.input :password %>
    <%= form.input :password_confirmation, :required => true %>
    <li class="check_boxes">
      <fieldset class="choices">
        <legend class="label"><label>Подразделения</label></legend>
        <input id="admin_user_subdivisions_none" name="admin_user[subdivision_ids][]" type="hidden" value="" />
        <ol class="choice_subdivisions">
          <% current_admin_user.manageable_subdivisions.each_with_index do |subdivision, index| %>
            <li class="depth_<%= subdivision.depth %>">
              <%= content_tag :label, :for => "admin_user_subdivision_ids_#{subdivision.id}" do %>
                <%= check_box_tag "admin_user[subdivision_ids][]",
                  subdivision.id,
                  @admin_user.subdivisions.include?(subdivision),
                  :id => "admin_user_subdivision_ids_#{subdivision.id}" %>
                <%= subdivision.title %>
              <% end %>
            </li>
          <% end %>
        </ol>
      </fieldset>
    </li>
  <% end %>

  <%= form.buttons do %>
    <%= form.commit_button %>
    <li class='cancel'>
      <%= link_to t("active_admin.cancel"), @admin_user.new_record? ? admin_admin_users_path : admin_admin_user_path(@admin_user) %>
    </li>
  <% end %>
<% end %>
