<%= semantic_form_for @admin_user, :url => @admin_user.new_record? ? admin_admin_users_path : admin_admin_user_path(@admin_user) do |form| %>
  <%= form.inputs do %>
    <%= form.input :name %>
    <%= form.input :email %>
    <% if @admin_user.new_record?  %>
      <%= form.input :password %>
      <%= form.input :password_confirmation, :required => true %>
    <% end %>
    <li class="check_boxes">
      <fieldset class="choices">
        <legend class="label"><label>Подразделения</label></legend>
        <input id="admin_user_categories_none" name="admin_user[category_ids][]" type="hidden" value="" />
        <ol class="choice_categories">
          <% current_admin_user.manageable_categories.each_with_index do |category, index| %>
            <li class="depth_<%= category.depth %>">
              <%= content_tag :label, :for => "admin_user_category_ids_#{category.id}" do %>
                <%= check_box_tag "admin_user[category_ids][]",
                  category.id,
                  @admin_user.categories.include?(category),
                  :id => "admin_user_category_ids_#{category.id}" %>
                <%= category.title %>
              <% end %>
            </li>
          <% end %>
        </ol>
      </fieldset>
    </li>
  <% end %>

  <%= form.buttons do %>
    <%= form.commit_button %>
    <li class='cancel'>
      <%= link_to t("active_admin.cancel"), @admin_user.new_record? ? admin_admin_users_path : admin_admin_user_path(@admin_user) %>
    </li>
  <% end %>
<% end %>
