<h3><%= "#{t('permissions.You are adding role to')}  #{@user.try(:name)}" %></h3>

<%= semantic_form_for resource, :url => manage_user_permissions_path(@user) do |form| %>
  <%= form.inputs do  %>
    <%= form.input :context,  :as => :select,
      :collection => current_user.context_tree,
      :include_blank => false,
      :wrapper_html => { :class => :hidden }
    %>
    <%= form.input :context_autocomplete, :required => true,
      :input_html => { :class => :context_autocomplete, :placeholder => 'Начните вводить название органа власти' } %>

    <%= form.input :role, :as => :select, :include_blank => t('commons.not_selected') %>
  <% end %>

  <%= form.actions :class => 'button-group' do %>
    <li><%= button_tag t('permissions.create'), :class => 'button icon approve' %></li>
    <li><%= link_to t('permissions.cancel'), manage_users_path, :class => 'button icon arrowleft'  %></li>
  <% end %>
<% end %>
