<div class="breadcrumbs">
  <% resource.subdivision.path.each do |ancestor| %>
    <%= link_to ancestor.title, ancestor.is_root? ? root_path : category_path(ancestor) %> /
  <% end %>
  <%= resource.person %>
</div>

<%= content_tag :div, :class => "actions" do %>
  <%= link_to t("go_to_manage"), manage_subdivision_item_path(parent, resource), :class => "button icon edit" if can?(:modify, resource) %>
<% end %>

<%= render @item %>

<% if resource.person.info_path %>
  <h2>Дополнительная информация</h2>
  <%= raw resource.person.dossier %>
<% end %>
