<%= semantic_nested_form_for @category, :validate => true, :url => @category.new_record? ? admin_parent_category_categories_path(@parent_category) : resource_path do |form| %>
  <%= form.inputs :class => "inputs inline_fields" do %>
    <%= form.input :title, :as => :string %>
    <%= form.input :parent_id, :as => :select, :collection => Category.all.map { |c| ["-"*c.depth + " " + c.title, c.id] } if @category.id %>
  <% end %>

  <%= form.buttons do %>
    <%= form.commit_button %>
    <li class='cancel'>
      <%= link_to t("active_admin.cancel"), @category.new_record? ? collection_path : resource_path %>
    </li>
  <% end %>
<% end %>
