<% content_for :header do %>
  <h1><%= link_to t("blue_pages_system"), root_path %></h1>
  <%= link_to t('download'), categories_path(:format => :pdf), :class => 'download' %>
<% end %>

<%= content_for :content do %>
  <div class='content_wrapper'>
    <%= semantic_search_form_for :main, :url => "/search"  do |form| %>
      <%= form.inputs do %>
        <%= form.input :keywords, :as => :string, :label => false %>
      <% end %>
      <%= form.buttons do %>
        <%= form.commit_button t('search'), :button_html => { :class => "button" } %>
      <% end %>
    <% end %>
    <%= yield %>
   </div>
<% end %>

<%= render :template => 'layouts/layer' %>
