<% content_for :header do %>
  <h1><%= link_to t("blue_pages_system"), root_path %></h1>
  <%= link_to t('download'), "/government.pdf?#{Time.now.to_i}", :class => 'download' %>
<% end %>

<%= content_for :content do %>
  <div class='content_wrapper'>
    <div class='panel panel-danger text-center'>
      <h3>
        <strong>Внимание!</strong>
        Данные в телефонном справочнике
        <strong>не обновляются с 01.01.2020г.</strong>
      </h3>
    </div>
    <%= semantic_search_form_for :main, :url => "/search"  do |form| %>
      <%= form.inputs do %>
        <%= form.input :keywords, :as => :string, :label => false %>
      <% end %>
      <%= form.actions do %>
        <%= form.action :submit, :label => t('search'), :button_html => { :class => "button" } %>
      <% end %>
    <% end %>
    <%= yield %>
   </div>
<% end %>

<%= render :template => 'layouts/layer' %>
