<!DOCTYPE html>
<html>
<head>
  <title><%= title %> | <%= I18n.t('application') %></title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag "manage" %>
  <%= javascript_include_tag "manage" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render :partial => "esp_auth/shared/header" %>
  <div id="title_wrapper">
    <%= content_tag :div, yield(:actions), :class => "actions" if content_for?(:actions) %>
    <h1><%= title %></h1>
  </div>
  <div id="content_wrapper">
    <%= content_for?(:content) ? yield(:content) : yield %>
  </div>
  <%= render :partial => "esp_auth/shared/footer" %>
</body>
</html>
