<!DOCTYPE html>
<html>
<head>
  <title><%= title %> | <%= I18n.t('application') %></title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag "manage" %>
  <%= javascript_include_tag "manage" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= content_for(:esp_views_manage_links) do %>
    <%= link_to 'Система управления', manage_root_path %>
    <%= link_to 'Права доступа', manage_users_path %>
  <% end %>
  <%= render :partial => 'esp/views/header' %>
  <div id="title_wrapper">
    <%= content_tag :div, yield(:actions), :class => "actions" if content_for?(:actions) && !current_page?(manage_root_path) %>
    <h1><%= title %></h1>
  </div>
  <div id="content_wrapper">
    <%= content_for?(:content) ? yield(:content) : yield %>
  </div>
  <%= render :partial => 'esp/views/footer' %>
</body>
</html>
