<!DOCTYPE HTML>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title><%= t('permissions.title') %></title>
  <%= stylesheet_link_tag 'permissions' %>
  <%= javascript_include_tag 'jquery','jquery_ujs', 'permissions' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="logged_info">
      <%= t('permissions.You are sign in as') %>
      <%= "#{current_user.name} &lt;#{current_user.email}&gt;".html_safe %>
      <%= link_to t('permissions.sign_out'), destroy_user_session_path %>
    </div>
    <h1><%= t('permissions.title') %></h1>
    <%= yield %>
  </div>
</body>
</html>
